<link
  rel="stylesheet"
  href="/stylesheets/footerStyle.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>
<footer class="footer bg-light py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>MyanCamp</h5>
        <p>Explore the best campsites with MyanCamp, the nation's largest campsite platform.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about">About Us</a></li>
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a
          href="https://facebook.com"
          class="social-icon"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          href="https://twitter.com"
          class="social-icon"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          href="https://instagram.com"
          class="social-icon"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="text-center mt-4">
      <span class="text-muted">&copy; MyanCamp 2024</span>
    </div>
  </div>
</footer>
